[Unit]
Description=Argvus Calendar reminders service
After=graphical-session.target

[Service]
Type=simple
ExecStart=argvus-taskbar-calendar service
Restart=on-failure

[Install]
WantedBy=default.target
